		:root {
			--text-color: black;
			--button-color: blue;
			--background-color: white;
			--page-background-color: #f5f5f5;
			--element-border: 1px solid black;
			--gradient: linear-gradient(to bottom, #ffffff, #f5f5f5);
		}

		body {
			background-color: var(--page-background-color);
			color: var(--text-color);
			font-family: Arial, sans-serif;
			padding: 0;
			margin: 0;
		}
		
		.bottom-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  
}

		

		.container {
			background-color: var(--background-color);
			border: var(--element-border);
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			background-image: var(--gradient);
    position: fixed;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99.5%;
  height: 50px;
		}

		button {
			background-color: var(--button-color);
			color: white;
			padding: 10px;
			border: none;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;
		}

		.settings-menu {
			display: none;
			position: fixed;
			bottom: 10px;
			right: 100px;
			background-color: var(--background-color);
			border: var(--element-border);
			border-radius: 5px;
			padding: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			z-index: 1;
			  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
		}

		.settings-menu ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.settings-menu li {
			margin: 10px 0;
		}

		.settings-menu label {
			display: block;
			margin-bottom: 5px;
		}

		.settings-menu input[type="radio"] {
			margin-right: 5px;
		}

		.settings-menu button {
			display: block;
			margin-top: 10px;
			background-color: var(--button-color);
			color: white;
			padding: 10px;
			border: none;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;
		}
		/* Hide scrollbar for all elements on Firefox */
html {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}
